server:
  port: 8081   # because 8080 is already used by Adminer

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/mydatabase
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
